body {
margin: 0;
font-family: 'Roboto', sans-serif;
}

.header {
    background-color: grey;
    color: white;
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSHCkFmSUDHKWRPsHYp_5H4TuUwkgyFMp-BGxZk4xuAuusd5Oq2);
    background-size: cover;
}

.name {
text-transform: uppercase;
}

.container {
    max-width: 75%;
    margin: auto;
}
.main-menu {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 0;

}

.main-menu a {
text-decoration: none;
color: white;
margin-right: 10px;
}

.main-menu a:hover {
    transition: color 0.5s;
    color: rgb(19,182,231);
}

main p {
    text-align: justify;
}

.main-menu-second-webs {
    font-size: 1.2rem;
    font-weight: 10px;
    padding: 20px 0;
}

.main-menu-second-webs a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.main-menu-second-webs a:hover {
    transition: color 0.5s;
    color: rgb(90, 5, 202);
}

.allfeedback {
    max-width: 40vw;
    border-radius: 60px;
    padding: 50px;
    background-color: rgb(15, 1, 7);
    color: rgb(192, 189, 189);;
    margin: 5% auto 5% auto;
}

.feedbackOP {
    display: grid;
}

.feedbackSubmit {
    text-align: right;
    margin-right: 20px;
}

.feedbackinfo {
    max-width: 100%;
    margin: 0 20px;
}

.feedbackinvocation {
    text-align: right;
    max-width: 100%;
    margin: 20px;
}

.feedbackmessage {
    max-width: 100%;
    margin: 0 20px;
}

.feedbackFAIL {
    text-align: right;
    max-width: 100%;
    margin: 20px;
}

.feedbackCheckbox {
    display: inline-block;
    margin: 0 20px;
}

.allauthorization {
    max-width: 40vw;
    border-radius: 60px;
    padding: 50px;
    background-color: rgb(15, 1, 7);
    color: rgb(192, 189, 189);
    margin: 5% auto 5% auto;
}

#contactus {
    text-align: center;
    margin-top: 0;
}

#type {
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 9px;
    width: 100%;
    border: none;
    padding: 5px 0;
}

#message {
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    padding: 5px 0;
}


#submit {
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 9px;
    padding: 13px;
    margin: 20px 0;
}

#name {
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    padding: 5px 0;
}

#email {
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    padding: 5px 0;
}

#attachments {
    display: block;
    width: min-content;
}

#checkboxP {
    display: inline-block;
}

#password {
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    padding: 5px 0;
}

fieldset {
    border-radius: 10px;
}

form .feedbackOP {
    display: grid;
    margin: 20px;
}

/* div .feedbackOP {
    display: table-row;
} */

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.avatar {
    height: 350px;
    text-align: center;
    margin: 3rem 0;
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.avatar img {
    height: 100%;
}

.btn {
    text-decoration: none;
    color: #1214a1;
    font-weight: bold;
    border: 2px solid #1214a1;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover {
    transition: color 0.5s, border-color 0.5s;
    color: rgb(19,182,231);
    border-color: rgb(19,182,231);
}

.btn:active {
    transform: scale(0.96);
}

.contact-me-btn {
color: white;
border-color: white;
font-size: 1.2rem;
display: inline-block;
}

.footer {
    background-color: grey;
    color: white;
    padding: 40px 0;
    margin-top: 2rem;   
}

.text-center {
    text-align: center;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.w-50 {
    max-width: 50%;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
