body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    }
    
    .header {
        background-color: black;
        color: white;
        background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSHCkFmSUDHKWRPsHYp_5H4TuUwkgyFMp-BGxZk4xuAuusd5Oq2);
        background-size: cover;
    }
header ul {
    list-style-type: none;
    margin: 0;
    margin-left: 64px;
    padding: 0;
    overflow: hidden;
}

header ul li {
    float: left;
  }
  
header ul li a {
    display: block;
    text-align: center;
    color: rgb(255, 251, 219);
    padding: 16px;
    text-decoration: none;
  }
  
header ul li a:hover {
    background-color: #111111;
}


footer{
    color: rgb(255, 251, 219);
    background-color: #111111;
    padding: 8px;
}

#contact {
    text-align: center;
}

#contact a{
    border: 1px solid rgb(255, 251, 219);
    color: rgb(255, 251, 219);
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
}

.filling{
    background-color: rgb(255, 251, 219);
    color:#111111;
    margin:0px;
    padding-bottom:16px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
